# Introductie pandas - voorbereiding voor week 4
We gaan nu leren werken met pandas, een van de meest gebruikte Pyhton libraries voor data analyse en data science. Deze library voorziet ons van allerlei functionaliteit om te werken met spreadsheets. Dit is zo'n uitgebreide library dat we nooit alles kunnen behandelen, maar om een beeld te krijgen van wat mogelijk is in pandas volgen we de 'getting started' tutorials uit de pandas documentatie (https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html). 
Daarnaast leggen we je in dit notebook nog wat andere functionaliteit uit. 
Je zult steeds gevraagd worden een tutorial door te nemen en vervolgens een aantal oefenopdrachten te maken. De datasets die in de tutorials gebruikt worden zijn te downloaden op de pagina van de tutorials. Ik raad je aan om de voorbeelden uit de tutorials zelf uit te typen en te runnen.

Voor de opdrachten bij tutorial 1 t/m 5 gebruiken we de dataset vgsales.csv, gevonden op kaggle (https://www.kaggle.com/gregorut/videogamesales). Voor opdracht 6 gebruiken we verschillende tabbelen uit de dvd-rental datasets. Ook deze zijn te downloaden via Canvas. Je moet ze wel zelf nog inlezen.

## Tutorial 1
Volg deze tutorial: https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html


Creeër een DataFrame (met behulp van pd.DataFrame(...) ) waarbij het dataframe overeenkomt met onderstaande tabel

Let op dat je pandas eerst moet importeren voordat je aan de slag kunt.

| Studentnummer |Opdracht | Tentamen | Geslaagd |
| ------------- |-------- | -------- | -------- |
| 302341 | 5,5 | 6,1 | Ja |
| 314345 | 6,2 | 4,2 | Nee |
| 374232 | 7,1 | 8,3 | Ja |
| 352352 | 9,3 | 7,8 | Ja |

## Tutorial 2 - Lezen en schrijven van datasets
Volg deze tutorial: https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html

Naast het lezen en schrijven van csv en excel files biedt pandas de mogelijkheid om andere datatypes snel in te lezen, bijvoorbeeld json. Om makkelijk een overzicht te krijgen van mogelijke *read* functices, maak je een nieuwe cel en type je pd.read_<TAB>, waarbij <TAB> staat voor het indrukken van de tab-toets. Je krijgt dan een lijst met mogelijke opties te zien. Je kunt dit altijd gebruiken om te zien welke functies je aan kunt roepen, of als je niet meer precies weet hoe een functie heet. Of als je gewoon te lui bent om alles uit te typen:) Niks mis mee trouwens, je programmeert er alleen maar sneller door! 

Als je wilt weten welke parameters je mee kunt geven aan een functie, bijvoorbeel aan pd.read_csv(..) dan type je ?pd.read_csv in een nieuwe cel en run je deze. Je kunt deze informatie ook allemaal in de documentatie vinden: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html
    
De dataset die in deze tutorial gebruikt wordt kun je vinden in de data folder, deze data heeft de volgende kolommen:
* Rank - Ranking of overall sales
* Name - The games name
* Platform - Platform of the games release (i.e. PC,PS4, etc.)
* Year - Year of the game's release
* Genre - Genre of the game
* Publisher - Publisher of the game
* NA_Sales - Sales in North America (in millions)
* EU_Sales - Sales in Europe (in millions)
* JP_Sales - Sales in Japan (in millions)
* Other_Sales - Sales in the rest of the world (in millions)
* Global_Sales - Total worldwide sales.

### Opdrachten bij tutorial 2

Voer de volgende stappen uit:
1. Lees de dataset in.
2. Bekijk de eerste 5 rijen.
3. Bekijk de laatste 10 rijden.
4. Bekijk de datatypes van de kolommen.
5. Welke kolommen bevatten nulls? (Een null-waarde betekent dat dat datapunt mist)
6. Schrijf de dataset weg als csv bestand naar je eigen home folder.

## Tutorial 3 - Data selectie
Volg deze tutorial: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

Een andere handige functie die je moet kennen is sort_values() (zie https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html). Hiermee kun je je dataset sorteren op een gegeven kolom. Bijvoorbeeld:

In [1]:
import pandas as pd
vgsales = pd.read_csv('../data/vgsales.csv')

In [2]:
vgsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

We willen de dataset nu sorteren op global sales, van hoogste sales naar laagste.

In [ ]:
vgsales.sort_values('Global_Sales')

Merk op dat de dataset nu van laag naar hoog gesorteerd is, om van hoog naar laag te sorteren moeten we de parameter *ascending = False* meegeven:

In [ ]:
vgsales_sorted = vgsales.sort_values('Global_Sales', ascending = False)

Kijken of het gelukt is:

In [ ]:
vgsales_sorted.head()

### Opdrachten bij tutorial 3
1. Selecteer enkel de kolom "EU_Sales" uit de dataset vgsales.
2. Creeër een nieuw DataFrame met alle rijen waarbij Year niet null is. Maak hierbij gebruik van functie notna()
3. Creeër een nieuw DataFrame met alle games waarvan de global sales groter was dan 10 miljoen.
4. Bij hoeveel games was de global sales kleiner dan 0.5 miljoen?
5. Maak een nieuw DataFrame met de 2e t/m de 6e kolom en de 15e t/m de 30e rij. (Dit heeft in dit voorbeeld geen toepassing, maar is enkel om te oefenen met selectie).
6. Creeër een nieuw dataframe met alleen data van 2006, sorteer deze data op EU_Sales, van hoog naar laag.
7. Hoeveel spellen van Nintendo zijn er in 2008 uitgekomen in het Genre Racing?

## Tutorial 4 - Nieuwe kolommen toevoegen
Volg deze tutorial: https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html

Je kunt de kolommen van een dataframe ook nieuwe namen geven door een lijst met namen te maken en die toe te wijzen aan de columns van het dataframe, bijvoorbeeld zo:

vgsales.columns = ['kolom1', 'kolom2', .... , 'kolom11']

Dit zou nergens op slaan, de namen van de kolommen worden alleen maar onduidelijker, maar het is vaak wel degelijk handig om dit te kunnen.

Bij het doen van analyses op je data is het vaak handig om een kolom toe te voegen waarin een numerieke waarde opgedeeld is in intervallen (of *bins*). Denk bijvoorbeeld aan een leeftijdkolom, waarbij je wilt kijken naar de leeftijd in een range van 10 jaar, dus je wilt niet de exacte leeftijd hebben, maar weten of iemand tussen de 0 en 10 is, of tussen de 10 en 20, enz.

Daarvoor kunnen we gebruik maken van de functie *cut*. Zie: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

We geven weer een voorbeeld, stel we willen een kolom toevoegen waarbij we de kolom Global_Sales in intervallen verdelen. We willen dus niet de exacte sales weten, maar we willen weten in welk interval hij ligt. We weten als dat het tussen 0 en 82.74 ligt, dus een logische opdeling is die in tientallen. We definieren nu eerst de bins, dat doen we door een lijst te maken met de grenzen van de intervallen.

In [ ]:
bins = [0,10,20,30,40,50,60,70,80,90]

vervolgens gebruiken we pd.cut om de bins van de kolom Global_Sales te bepalen. En de uitkomst daarvan wijzen we toe aan een nieuwe kolom in het dataframe:

In [ ]:
vgsales['Global_Sales_bins'] = pd.cut(vgsales['Global_Sales'], bins)

Kijken of het geluks is:

In [ ]:
vgsales.head()

### Opdrachten bij tutorial 4
1. Creeër een nieuwe kolom bij de vgsales dataset genaamd Total_Sales. De waarde in deze kolom is de som van NA_Sales, EU_Sales, JP_Sales, Other_Sales. Kun je controleren of de waarden in deze kolom gelijk zijn aan Global_Sales?
2. Voeg een kolom *EU_Sales_bins* die aangeeft in welk interval van lengte 5 de EU_Sales per rij ligt.

## Tutorial 5 - statistiek

Volg het eerste gedeelte van deze tutorial, de stof vanaf het kopje **Aggregating statistics grouped by category** behandelen we in een later college.
https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html

Wat je verder nog moet kennen is de method value_counts(): https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html

Deze kun je aanroepen op een van je kolommen en die telt dan hoevaak iedere waarde in die kolom voorkomt. Dit kunnen we bijvoorbeeld gebruiken om per jaar te zien hoeveel spellen er in dat gegeven jaar uitgekomen zijn. We voegen nog .reset_index() om van de output weer een dataframe te maken. De details hiervan hoef je niet te kennen.

In [ ]:
vgsales['Year'].value_counts()

### Opdrachten bij tutorial 5
1. Wat is het gemiddelde van de kolom EU_Sales?
2. Hoeveel bracht een spel van "Electronic Arts" gemiddeld op in 2010?
3. Voor hoeveel miljoen verkocht Nintendo in het jaar 2006 wereldwijd?
4. Wat is het bestverkochte spel (in termen van meest opgeleverde miljoenen) ooit? (In deze dataset)
5. Welk spel uit 1985 leverde het minste op in Europa, maar meer dan niks?

## Tutorial 6 - Datasets combineren
We hebben nu steeds data gebruikt uit maar een enkele dataset, maar vaak wil je verschillende datasets combineren. Het is dan handig als je weet wat de relatie tussen verschillende datasets is, daarvoor kun je gebruik maken van Entity Relationship Diagrams. Wat dat zijn wordt uitgelegd in de volgende YouTube filmpjes: 
 - https://www.youtube.com/watch?v=QpdhBUYk7Kk
 - https://www.youtube.com/watch?v=-CuY5ADwn24
 
In pandas kun je datasets combineren (joinen) met de merge method. Hoe je die kunt gebruiken en wat voor type joins je uit kunt voeren lees je in dit blog:
https://www.analyticsvidhya.com/blog/2020/02/joins-in-pandas-master-the-different-types-of-joins-in-python/

Naast het joinen van datasets kun je datasets ook row-wise of column-wise aan elkaar plakken met de concat method. Hoe dat werkt lees je in deze tutorial:
https://pandas.pydata.org/docs/getting_started/intro_tutorials/08_combine_dataframes.html

Maak onderstaande opdrachten om hiermee te oefenen. We maken daarvoor gebruik van de dvdrental datasets. Die data is te downloaden via canvas. Ook kun je daar het bijbehorende ERD vinden.

### Opdrachten bij tutorial 6
1. Maak een DataFrame waarin we van alle klanten first_name en last_name zien, en het amount van alle betalingen die ze gedaan hebben. Klanten die nooit een betaling hebben gedaan willen we niet zien.
2. Voer een join uit om te zien of er films in de inventory zijn die nooit verhuurd zijn. Welke titels horen daarbij?
3. Maak een DataFrame als in opdracht 1, maar dan met first_name, last_name en title van alle films die een klant gehuurd heeft, op alfabetische volgorde van last_name. Zorg dat bij klanten met dezelfde achternaam first_name op alfabetische volgorde staat.