# Introductie pandas - Uitwerkingen
Hieronder staan mogelijke uitwerkingen voor de opdrachten uit het notebook pandas_introductie. Je zult de paden naar gebruikte data zelf moeten veranderen zodat het werkt in jouw folderstructuur. 

Ga eerst zelf met de opdrachten aan de slag en kijk pas hier als je wilt controleren of je het goed gedaan hebt of als je Ã©cht niet verder kunt. Ik raad je aan om altijd eerst te kijken of je online de informatie kunt vinden die je nodig hebt. Dit is hoe datascientisten ook werken. Als je iets wilt programmeren maar de juiste code niet weet, dan ga je kijken of je het online kunt vinden, bijvoorbeeld in de documentatie, op stackoverflow of in een blog. 

Wil je bijvoorbeeld het gemiddelde van een kolom vinden, google dan (bijvoorbeeld) op 'pandas calcalute mean column'. Zorg dat je altijd Python of pandas (of een ander package waar je mee werkt) in je zoekopdracht zet.

Merk op dat er (bijna) altijd meerdere juiste oplossingen zijn. Als je iets anders gedaan hebt dan in dit notebook, maar wel het juiste antwoord hebt gevonden, is het ook goed! En vraag het na tijdens de les bij twijfel!

### Opdrachten bij tutorial 1 - Uitwerkingen

In [2]:
import pandas as pd

In [3]:
cijfers_df = pd.DataFrame({"Studentnummer": [302341, 314345, 374232, 352352], "Opdracht": [5.5, 6.2, 7.1, 9.3], 
                          "Tentamen": [6.1, 4.2, 8.3, 7.8], "Geslaagd": ["Ja", "Nee", "Ja", "Ja"]})

In [4]:
cijfers_df

   Studentnummer  Opdracht  Tentamen Geslaagd
0         302341       5.5       6.1       Ja
1         314345       6.2       4.2      Nee
2         374232       7.1       8.3       Ja
3         352352       9.3       7.8       Ja

### Opdrachten bij tutorial 2 - uitwerkingen

In [ ]:
# Opdracht 1
vgsales = pd.read_csv('../data/vgsales.csv')

In [ ]:
#Opdracht 2
vgsales.head(5)

In [ ]:
#Opdracht 3
vgsales.tail(10)

In [ ]:
#Oprdracht 4
vgsales.dtypes

In [ ]:
#Opdracht 5
vgsales.info()

We zien dat Year, Genre en Publisher null-values bevatten.

In [ ]:
# Opdracht 6
vgsales.to_csv('/path/to/home/vgsales.xlsx', sheet_name="vgsales", index=False)

### Opdrachten bij tutorial 3 - Uitwerkingen

In [ ]:
#Opdracht 1
vgsales_EU = vgsales["EU_Sales"]
vgsales_EU.head()

In [ ]:
#Opdracht 2
vgsales_Year_not_null = vgsales[vgsales["Year"].notna()]
vgsales_Year_not_null.head()

In [ ]:
#Opdracht 3
vgsales_more_10 = vgsales[vgsales["Global_Sales"] > 10 ]
vgsales_more_10.head()

In [ ]:
#Opdracht 4
vgsales_less_05 = vgsales[vgsales["Global_Sales"] < 0.5]
vgsales_less_05.shape

Er zijn dus 12580 games waarvoor de Global Sales lager was dan een half miljoen

In [ ]:
#Oprdracht 5
vgsales_selection = vgsales.iloc[14:50, 1:6]
vgsales_selection

In [ ]:
#Opdracht 6
vgsales_2006 = vgsales[vgsales["Year"]==2006]
vgsales_2006 = vgsales_2006.sort_values('EU_Sales', ascending=False)
vgsales_2006.head()

In [ ]:
#Opdracht 7
vgsales_Nintendo_2008 = vgsales[(vgsales["Publisher"]=="Nintendo") & (vgsales["Year"]==2008) & (vgsales["Genre"]=="Racing")]
vgsales_Nintendo_2008

Dat is er maar 1, alleen Mario Kart Wii

### Opdrachten bij tutorial 4 - uitwerkingen

In [ ]:
#Opdracht 1
vgsales["Total_Sales"] = vgsales["EU_Sales"] + vgsales["NA_Sales"] + vgsales["JP_Sales"] + vgsales["Other_Sales"]

Om te controleren of Total_Sales gelijk is aan Global_Sales kunnen we een Serie van booleans maken, die per rij aangeven of ze gelijk zijn aan elkaar:

In [ ]:
vgsales["Total_Sales"] == vgsales["Global_Sales"]

We kunnen dit gebruiken om die rijen uit het dataframe te selecteren waar ze ook daadwerkelijk gelijk zijn:

In [ ]:
vgsales[vgsales["Total_Sales"] == vgsales["Global_Sales"]]

We zien dat ze in 9826 van de rijen gelijk zijn, en in de andere dus niet.

In [2]:
#Opdracht 2

Om het aantal bins te bekijken kijken we eerst wat het maximum is van EU_Sales

In [ ]:
vgsales['EU_Sales'].max()

In [ ]:
bins = [0,5,10,15,20,25,30]
vgsales['EU_Sales_bins'] = pd.cut(vgsales['EU_Sales'], bins = bins)

## Opdrachten bij tutorial 5 - Uitwerkingen

In [ ]:
#Opdracht 1 
vgsales.describe()

We zien dat het gemiddelde van EU_Sales 0.146652 miljoen is

In [ ]:
#Opdracht 2
vgsales[(vgsales["Publisher"]=="Electronic Arts") & (vgsales["Year"]==2010)].mean()

We zien dat het gemiddelde 0.924773 miljoen is.

In [ ]:
#Opdracht 3
vgsales[(vgsales["Year"]==2016) & (vgsales["Publisher"]=="Nintendo")]["Global_Sales"].sum()

Dus voor 3,47 miljoen.

In [ ]:
#Opdracht 4
vgsales.sort_values(by="Global_Sales", ascending=False).head()

Dat is Wii Sports.

In [ ]:
#Opdracht 5
vgsales_1985 = vgsales[vgsales["Year"]==1985]
vgsales_1985_EUSales_not_zero = vgsales_1985[vgsales_1985["EU_Sales"] > 0]

In [ ]:
vgsales_1985_EUSales_not_zero.sort_values('EU_Sales')

We zien een gedeelde laatste plek voor *Ghostbusters* en *Alter Ego*.

## Opdrachten bij tutorial 6 - Uitwerkingen

### Opracht 1
Maak een DataFrame waarin we van alle klanten first_name en last_name zien, en het amount van alle betalingen die ze gedaan hebben. Klanten die nooit een betaling hebben gedaan willen we niet zien.

In [ ]:
import pandas as pd
payment = pd.read_csv('../data/dvdrental/payment.csv')
customer = pd.read_csv('../data/dvdrental/customer.csv')

customer_amount_df = customer.merge(payment, how="inner", on="customer_id")[["first_name", "last_name", "amount"]]
customer_amount_df.head(20)

### Opdracht 2
Voer een join uit om te zien of er films in de inventory zijn die nooit verhuurd zijn. Welke titels horen daarbij?

In [ ]:
inventory = pd.read_csv('../data/dvdrental/inventory.csv')
rental = pd.read_csv('../data/dvdrental/rental.csv')
film = pd.read_csv('../data/dvdrental/film.csv', sep=";")

inventory_film_join = inventory.merge(rental, on="inventory_id", how = "left")
nooit_gehuurd = inventory_film_join[inventory_film_join["rental_id"].isna()]
nooit_gehuurd

In [ ]:
#Bekijk welke titel bij film_id==1 hoort
film[film["film_id"]==1]["title"]

### Opdracht 3
Maak een DataFrame als in opdracht 1, maar dan met first_name, last_name en title van alle films die een klant gehuurd heeft, op alfabetische volgorde van last_name. Zorg dat bij klanten met dezelfde achternaam first_name op alfabetische volgorde staat.

In [ ]:

joined_df = customer.merge(rental, how = "inner", on="customer_id")
joined_df = joined_df.merge(inventory, how = "left", on = "inventory_id")
joined_df = joined_df.merge(film, how = "left", on = "film_id")

name_film_df = joined_df[["first_name", "last_name", "title"]].sort_values(by=["last_name", "first_name"])
name_film_df.head(100)